body {
   background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}
h1 {
  font-size: 100px;
  color: #FFC745;
  height: 100px;
  text-align: center;
}

p {
  text-align: center;
  font-family: "Helvetica", sans-serif;
  position: relative;
  display: inline-block;
  margin-left: 20px;
  font-size: 30px;
  color: white;
}

#navbar  {
text-align: center;
background-color: #052B03;
text-decoration: none;
padding: 20px;
background-color: #00000C;

}

#navbar a {
  color: #FFC745;
  font-weight: bold;
  text-decoration:none;
  font-size: 20px;
 
}

#navbar ul li {
background-color:#12900D;
color: #12900D;
 
}

#navbar li {
  list-style-type: none;
  display: inline;
  padding: 20px;
  margin: 55px;
}

.intro .btn {
  font-weight:bold;
  background-color:#00000C;
  color: #12900D;
  
}
.intro #btnCLASSIC {
  position: relative;
  padding-left: 25px;
}
.intro ul li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#end {
  position: relative;
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.intro img {
  width:50%;
  position:relative;
  padding-right: 240px;
  float: right;
}

.intro h2 {
  text-align: center;
  position: rlative;
  margin-top: 60px;
  color: white;
  font-size: 30px;
  margin-bottom: 60px;
  letter-spacing: 30px;
  font-weight: bold;
  font-size: 50px;
  margin-left: 70px;
  text-shadow: 4px 4px 5px black;
  
}

.btn {
  position: relative;
  margin: 5px;
  width: 45%;
  font-size: 20px;
  text-align: center;
  
}

.main a {
  text-decoration: none;
  color: black;
}

.main li {
   list-style-type: none;
   color: black;
   position: relative;
   display: inline-block;
   margin-left: 100px;
   padding: 5px;
}

.main ul  li  {
color: black;
}

.main img {
  position:relative;
  margin-left: 200px;
  margin-top: 50px;
}

.tournament {
  position: relative;
  margin-left: 200px;
}

table {
  border: 3px solid black;
  margin-left: 180px;
  margin-bottom: 50px;
}

table th  {
  border: 3px dashed black;
  color: #FFC745;
  background-color: #000808;
}
table td  {
  border: 3px solid black;
  padding: 35px;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.5);
}

 table th .cls  {
  width:100%;
  font-weight: bold;
  font-size:20px;
}

table th .rpd {
  width:100%;
  font-weight: bold;
  font-size:20px;
}

table th .blz {
  width:100%;
  font-weight: bold;
  font-size:20px;
}

table th .blt {
  width:100%;
  font-weight: bold;
  font-size:20px;
}

button {
  padding: 30px;
  font-weight: bold;
  float:left;
  margin-left: auto;
}

.play {
  margin-right: 10px;
  color: #FFC745;
  background-color: #000808;
  width: 9%;
}

.quit {
  position:relative;
  margin-left: 79px;
  color: #FFC745;
  background-color: #000808;
  float: right;
  width: 9%;
 
}

.btnTable {
  font-weight: bold;
  font-size: 20px;
}

#clshover {
background-color: #000808;
color: #FFC745;
     
}
#rpdhover {
background-color: #000808;
color: #FFC745;
}
#blzhover {
  background-color: #000808;
  color:#FFC745
}
#blthover {
  background-color: #000808;
  color: #FFC745;
}
.info {
  position: relative;
  padding-left: 5px;
  text-align: center;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 20px;
}

.thfooter {
  width: 100%;
}


